{% extends 'base.html.twig' %}

{% block title %}Nouveau Invité{% endblock %}

{% block content %}
    <h1>Creer des Invités</h1>

    {{ include('invite/_form.html.twig') }}

    <a href="{{ path('invite_index') }}">back to list</a>
{% endblock %}
