{% extends 'base.html.twig' %}

{% block title %}Edit ProgrammerFilm{% endblock %}

{% block body %}
    <h1>Edit ProgrammerFilm</h1>

    {{ include('programmer_film/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('programmer_film_index') }}">back to list</a>

    {{ include('programmer_film/_delete_form.html.twig') }}
{% endblock %}
