{% extends 'reservation/front.html.twig' %}

{% block title %}New Reservation{% endblock %}

{% block body %}
    <br>
    <br>
    <h1>Espace Reservation: </h1>
    <br>
    <br>

    {{ include('reservation/_form1.html.twig') }}
    <br>


{% endblock %}
