{% extends 'base.html.twig' %}
{% block title %}New Workshop{% endblock %}
          {% block content %}


                    {{ include('workshop/_form.html.twig') }}

                    <a href="{{ path('workshop_index') }}">back to list</a>
                {% endblock %}


