{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
    {% block content %}




<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Table Produit</h4>
                        <p class="card-category"> Les produits:</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                                <tbody class=" text-primary">
        {{ include('produit/_form.html.twig') }}

        <a href="{{ path('produit_index') }}">back to list</a>
                                </tbody>
                    </div>
                </div>
            </div>
        </div>
        </div></div></div></div></div>
    {% endblock %}

{% endblock %}
