{% extends 'base.html.twig' %}

{% block title %}Edit Stock{% endblock %}
     {% block content %}




        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">editer stock</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">

                                    <tbody class=" text-primary">

                                    {{ include('stock/_form.html.twig', {'button_label': 'Update'}) }}

                                    {{ include('stock/_delete_form.html.twig') }}
                                    <a href="{{ path('stock_index') }}">back to list</a>
                                    </tbody>
                                </div>
                            </div>
                        </div>
                    </div>
                </div></div></div></div></div>
    {% endblock %}