{% extends 'frontissam.html.twig' %}

{% block title %}New Users{% endblock %}

{% block body %}

    <br>
    <br>

    <h1>Login</h1>
    <br>
    <br>
    {{ include('users/_form.html.twig') }}

    </a>
    <br>


{% endblock %}
